// General tags
body {
	direction: rtl;
	font-family: "vazir", "tahoma", sans-serif;
}
input, textarea {
	font-family: "vazir", "tahoma", sans-serif;
}
a, button {
	@include transit;
}

// General classes
.container {
	padding-left: span(1);
	padding-right: span(1);
}
.clear {
	clear: both;
	overflow: hidden;
}
.half {
	@include span(6);
}
.zIndex-1 {
	z-index: 1 !important;
}


.mainNav {
	position: relative;
	height: 70px;
	z-index: 2;
	background-color: $navy;
	@include clearFix;
	.logo {
		position: relative;
		float: right;
		width: 150px;
		height: 100%;
		background-color: $navy-d;
		&:after {
			content: "";
			position: absolute;
			left: -25px;
			top: 0;
			width: 0;
			height: 0;
			border-left: 25px solid transparent;
			border-bottom: 70px solid $navy-d;
		}
		img {
			position: absolute;
			@include center;
			max-width: 80%;
		}
	}
	.mainMenu {
		float: right;
		padding-right: 25px;
		.parentLi {
			display: inline-block;
			position: relative;
			height: 70px;
			.parentA {
				display: block;
				height: 100%;
				line-height: 70px;
				padding: 0 15px;
			}
			&.dropdown {
				.dropdown-content {
					display: none;
					position: absolute;
					top: 100%;
					right: 0;
					padding: 10px;
					min-width: 150px;
					background-color: $navy;
					border-top: 2px solid $navy-d;
				}
			}
		}
	}
	.last-block {
		float: left;
		height: 100%;
		.search {
			display: inline-block;
			margin: 0 15px;
			input {
				@include transit;
				max-width: 0;
				border-bottom: 2px solid transparent;
				&.opened {
					max-width: 160px !important;
					border-bottom-color: $gray-d !important;
					line-height: 25px;
					color: $gray;
				}
				&:focus {
					border-bottom-color: $gray-l !important;
				}
			}
		}
		.sign {
			display: inline-block;
			line-height: 70px;
			margin: 0 15px;
			padding: 0 5px;
		}
		button[type="submit"] {
			color: $gray;
			vertical-align: middle;
			&:hover {
				color: $white-d;
			}
			i {
				font-size: 1.5em;
			}
		}
	}
	a {
		display: block;
		padding: 5px;
		color: $gray;
		&.clicked, &:hover {
			background-color: $navy-d;
		}
	}
}

.hero {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	z-index: 1;
	.slider {
		@include clearFix;
		.slick-track, .slick-list {
			transform: none !important;
		}
		.slide {
			.half {
				position: relative;
				min-height: 500px;
				.text {
					position: relative;
					margin-top: 250px;
					top: -102px;
					padding-left: span(1 of 5);
					text-align: center;
					h2 {
						margin-bottom: 20px;
						color: $navy-d;
					}
					h4 {
						margin-bottom: 20px;
						color: $gray;
					}
					p {
						margin-bottom: 20px;
						color: $gray;
					}
					a {
						margin-bottom: 20px;
						color: $cream-d;
						i {
							display: inline-block;
							width: 25px;
							height: 25px;
							line-height: 25px;
							color: white;
							border: 1px solid $cream-d;
							border-radius: 500px;
							text-shadow: 1px 0 $cream-d, 0 1px $cream-d, 0 -1px $cream-d, -1px 0 $cream-d;
							&:before {
								padding-left: 2px;
							}
						}
					}
					iframe {
						width: 100%;
						height: 100%;
					}
				}
				.image {
					text-align: center;
					img {
						max-width: 100%;
					}
				}
			}
		}
	}
}

.thumbs {
	@include clear;
	img {
		@include span(1 of 4);
		padding: 5px;
	}
}

.impresa {
	@include clear;
	padding: 100px 0;
	.half {
		padding: 0 span(1);
		text-align: center;
		h3, p, a {
			margin-bottom: 15px;
		}
		h3 {
			font-size: 1em;
			color: $navy-d;
		}
		p {
			color: $gray;
		}
		a {
			color: $cream-d;
		}
	}
}

.bigProduct {
	.half {
		height: 600px;
		overflow: hidden;
		text-align: center;
		background-color: $white-d;
		border: 5px solid white;
		.text {
			padding: 60px span(1);
			h2, p {
				margin-bottom: 15px;
			}
			h2 {
				//
			}
			p {
				text-align: justify;
				color: $gray;
			}
			a {
				display: inline-block;
				margin-bottom: 30px;
				color: $cream-d;
			}
			.productImage {
				display: block;
				margin: auto;
				max-width: 100%;
			}
		}
		.image {
			position: relative;
			img {
				width: 100%;
			}
			.play {
				position: absolute;
				@include center;
				i {
					color: rgba(255, 255, 255, 0.7);
					font-size: 8em;
				}
				&:hover {
					i {
						color: white;
					}
				}
			}
		}
	}
}

.russianText {
	h2 {
		text-align: center;
		margin: 100px 0;
		color: $gray;
		&:first-child {
			margin-bottom: -70px;
			color: black;
		}
	}
	.russianSlider {
		@include clear;
		.slide {
			width: 400px;
			padding: 5px;
			img {
				max-width: 100%;
			}
		}
	}
}

footer {
	padding: 50px 0;
	background-color: $navy;
	color: $gray;
	font-size: 0.8em;
	a {
		color: $white-dd;
		&:hover {
			color: $white;
		}
	}
	.about {
		@include span(4 of 10);
		padding: span(0.5 of 10);
		padding-right: 0;
		.logo {
			width: 150px;
		}
		.desc {
			//
		}
	}
	.linksWrapper {
		@include span(6 of 10);
		.links {
			@include span(1 of 3);
			padding: span(0.5 of 10);
			white-space: pre-line;
			h4 {
				margin-bottom: -15px;
				color: white;
			}
			a {
				//
			}
		}
	}
	.bottomFooter {
		@include clear;
		padding-top: 25px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		box-shadow: 0 -2px 1px -2px black;
		.copyright {
			//
		}
		.internalLinks {
			text-align: left;
			a {
				display: inline-block;
				padding: 0 10px;
				border-right: 1px solid;
				line-height: 1em;
				&:first-child {
					border-right: none;
				}
				&:hover {
					border-color: $white-dd;
				}
			}
		}
	}
}
