$slick-font-path: "../../assets/font/" !default;
$slick-loader-path: "../../assets/img/" !default;
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "../../bower_components/slick-carousel/slick/slick-theme.scss";


.slick-slider {
	direction: ltr;
}
.slick-dots li button:before {
	@include transit;
	width: 18px;
	height: 18px;
	font-size: 14px;
	line-height: 20px;
	color: white !important;
	background-color: $cream-d;
	opacity: 1 !important;
	border-radius: 500px;
}
.slick-dots li.slick-active button:before {
	color: $cream-d !important;
}

.modal-content {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
	background-color: $black-trans;
	.close {
		position: absolute;
		top: 5px;
		left: 5px;
		width: 50px;
		height: 50px;
		i {
			@include transit;
			color: $gray;
			font-size: 50px;
			height: 50px;
		}
		&:hover i {
			color: white;
		}
	}
	.wrapper {
		position: absolute;
		top: 60px;
		left: 60px;
		bottom: 60px;
		right: 60px;
		overflow: hidden;
		background-color: black;
	}
}
