/*
	Custom reset
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button, input, textarea, iframe {
	border: 0;
	outline: 0;
	background: none;
}
button {
	cursor: pointer;
}
a {
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
body {
	font-size: 1em;
	line-height: 1.5em;
}
