$white: #fff;
$white-d: #f6f6f6;
$white-dd: #dcd8d4;
$white-ddd: #cbcbcb;
$white-trans: rgba(255, 255, 255, 0.8);
$gray: #a19fa9;
$gray-l: #b1afba;
$gray-d: #8e8c95;
$black: #000;
$black-l: #4b4348;
$black-trans: rgba(0, 0, 0, 0.8);
$brown: #9f8665;
$brown-l: #d0a27d;
$cream: #e3cd9e;
$cream-d: #d0ba8b;
$navy: #3c3a50;
$navy-d: #282536;


@mixin center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin center-h() {
	left: 50%;
	transform: translateX(-50%);
}

@mixin center-v() {
	top: 50%;
	transform: translateY(-50%);
}

@mixin clear() {
	clear: both;
	overflow: hidden;
}

@mixin clearFix() {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

@mixin transit() {
	transition: all 0.2s ease;
}
